.catalogo-CLARO {
 background: linear-gradient(
 180deg,
 rgba(237, 237, 237, 1) 0%,
 rgba(173, 172, 172, 1) 100%
 );
 display: flex;
 flex-direction: column;
 min-height: 1687px;
 min-width: 1920px;
 width: 100%;
}
.catalogo-CLARO .barra-de-pesquisa {
 align-self: center;
 box-shadow: 3px 4px 8px #00000033;
 display: flex;
 margin-top: 37px;
 width: 1000px;
}
.catalogo-CLARO .frame-6 {
 align-items: flex-start;
 background-color: #ffffff;
 border-radius: 20px;
 display: flex;
 height: 70px;
 justify-content: space-between;
 padding: 23px 29px 23px 26px;
 position: relative;
 width: 1000px;
}
.catalogo-CLARO .text-wrapper-8 {
 align-items: center;
 color: #000000;
 display: flex;
 font-family: "Roboto-Italic", Helvetica;
 font-size: 16px;
 font-style: italic;
 font-weight: 400;
 letter-spacing: 0.5px;
 line-height: 24px;
 margin-top: -1px;
 position: relative;
 white-space: nowrap;
 width: fit-content;
}
.catalogo-CLARO .search-instance {
 height: 24px !important;
 position: relative !important;
 width: 24px !important;
